/*************************************
EVERYTHING
*************************************/
* {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    background-image:url("img/background.jpg");
    text-align: center;
    width: auto;
    margin: 0 auto;
    
}

p1 {
    width: 20px;
}

form {
  margin: 20px 200px;  
}


h1 {
    background-color: orange;
}


a {
    text-decoration: none;

}

